# put this in your ~/.wakatime.cfg file

[settings]
api_url = https://hackatime.hackclub.com/api/hackatime/v1
api_key = d699c000-05d6-4900-b1fd-585cb42889b5
heartbeat_rate_limit_seconds = 30

# any other wakatime configs you want to add: https://github.com/wakatime/wakatime-cli/blob/develop/USAGE.md#ini-config-file